:root {
    --main-bg-color: #dce1de;
    --info-bg-color: #1f2421;
    --scrinshots-bg-color: #49a078;
    --main-text-color: #1f2421;
    --accent-text-color: #9cc5a1;
    --subtitle-text-color: #ffffff;
    --title-font: "Wix Made For Display", sans-serif;
    --main-font: "Spline Sans Mono", monospace;
}